@font-face {
    font-family: "Signika";
    src: url(sl_dg_fonts/Signika/static/Signika-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(sl_dg_fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(sl_dg_fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}