:root {
    --color-text: #f0e3ca;
    --color-shiny: #ff9328;
    --color-dark: #c4680d;
    --color-bg: #1b1a17;
    --font-title: "Signika";
    --font-normal: "Montserrat";
    --line: 1px solid #a35709;
    --shadow: 2px 2px 3px black;
}